/*
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    font-family: 'Rajdhani';
    font-size: 8.5px;
}

.row {
    padding: 0;
}

.header.canvasContainer {
    position: relative;
    z-index: -100;
    outline: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.about.canvasContainer {
    position: relative;
    z-index: -100;
    outline: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}


/* Costum btn styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-circle.btn-lg {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-dark.btn-circle.btn-lg:hover,
.btn-dark.btn-circle.btn-lg:focus,
.btn-dark.btn-circle.btn-lg:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Costum horizontal rule */

.small {
    max-width: 200px;
}


/* side menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:focus,
.sidebar-nav li a:active {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 2px 2px 0 0;
}


/*header*/

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.text-vertical-center {
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 80%;
}

h1 {
    font-family: 'Rajdhani';
    color: #00ccee;

}

.text-vertical-center.button {
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}


/* About*/

.about {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}
.container{
    position: absolute;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

.aboutblock{
    position: absolute;
    z-index: 100;
    left: 2%;
    vertical-align: middle;
    top: 35%;
}
.githublink{
    position: absolute;
    vertical-align: middle;
    margin: 0 0 0 0;

}

.aboutbutton{
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 80%;
}


/* portfolio */

.portfolio {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.h2 {
    position: absolute;
    top: 10%;
}

.app-item {
    padding-top: 20%;
    padding-bottom: 15%;
}

.sns {
    padding-top: 20%;
    padding-bottom: 15%;
}

.bottombutton{
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    bottom: 0%;
}
